@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body{
    background-color: rgb(16, 10, 39);
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}

.navbar{
    display:flex;
    text-align: right;
    background-color: rgb(35, 30, 59);
    justify-content: space-between;
    border: 1px solid rgb(35, 30, 59);
    border-radius:15px;
    z-index:1000;
    padding:10px 20px;
}

.navbar a{
    color:white;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    padding-right:10px;
    margin: 0 10px;
    text-decoration: none;
}

.navLinks{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navLinks li{
    margin-left:20px
}
.navLinks a{
    text-decoration: none;
    color:white;
    padding: 8px;
}
.navLinks a:hover{
    font-weight:bold;
}

input.pretty{
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    background-color: rgb(122, 128, 135);
    border:1px solid rgb(122, 128, 135);
    border-radius: 18px;
    padding: 10px;
    color:white;
    position:relative;
}
.labelAbove{
    position:relative;
    display:flex;
    gap: 10px;
    align-items: center;
}

.labelAbove::before{
    content: attr(tLabel);
    position:absolute;
    top:-20px;
    left: 2px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

button.subBtn{
    background-color: rgb(122, 128, 135);
    border:10px solid rgb(122, 128, 135);
    border-radius: 50%;
    color:white;
}



button.submit{
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    background-color: rgb(59, 61, 63);
    border:1px solid rgb(59, 61, 63);
    border-radius: 18px;
    padding: 10px;
    color:white;
    width: 230px;
}

.makeRow{
    display:flex;
    gap:45px;
    justify-content: center;
}
